.page-header__button, .hero__button, .modal__button, .newsletter__button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.page-body.modal-open, .page-body.menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.page-header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .page-header__button {
    display: none;
  }
}

.page-header__button.is-open {
  position: fixed;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .page-header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .page-header__links {
    display: none;
  }
}

.page-header__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #2196f3;
}

.page-header__link--after::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.page-header__button.is-open .page-header__icon-menu {
  display: none;
}

.page-header__icon-cross {
  display: none;
}

.page-header__button.is-open .page-header__icon-cross {
  display: block;
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px 38px;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    background-color: #ffffff;
  }
  .page-header__menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #000000;
}

.logo__heading {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .nav-site {
    background-color: #ffffff;
    max-width: 480px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-site__list {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav-site__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-site__link {
  text-decoration: none;
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-site__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-site__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-site__link--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.nav-site__link:hover, .nav-site__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list {
    background-color: #ffffff;
    margin-bottom: 64px;
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 94px;
  }
}

.contact-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact-list__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 8px;
  }
  .contact-list__icon--mail {
    width: 14px;
    height: 10px;
  }
  .contact-list__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
  .contact-list__icon--mail {
    width: 16px;
    height: 12px;
  }
  .contact-list__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.contact-list__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .contact-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contact-list__item {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-list__item {
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:hover, .contact-list__item:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 410px) {
  .contact-list__item--mail {
    color: #2196f3;
    font-size: 8vw;
    margin-bottom: 32px;
  }
  .contact-list__item--smartphone {
    font-size: 6vw;
    color: #757575;
  }
}

@media (min-width: 411px) and (max-width: 767px) {
  .contact-list__item--mail {
    color: #2196f3;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    font-size: 34px;
    margin-bottom: 32px;
  }
  .contact-list__item--smartphone {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url(../images/header-480.jpg);
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url(../images/header-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url("../images/header@2x-480.jpg");
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url("../images/header@2x-480.jpg");
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url(../images/header-768.jpg);
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url(../images/header-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url("../images/header@2x-768.jpg");
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url("../images/header@2x-768.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url(../images/overlay.jpg);
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, right top, left top, from(#2F303A66), to(#2F303A66)), url("../images/overlay2x.jpg");
    background-image: linear-gradient(to left, #2F303A66, #2F303A66), url("../images/overlay2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.modal {
  position: relative;
  padding: 40px;
  opacity: 1;
  background: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: #ffffff;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon {
  fill: #2196f3;
}

.checkbox {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .checkbox {
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox {
    min-width: 425px;
  }
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .checkbox__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  display: inline-block;
  line-height: 1.71;
}

.checkbox__link {
  color: #2196f3;
  margin-left: 3px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/check-inactive.svg);
  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form {
  outline: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .form {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.form__field--margin {
  margin-bottom: 20px;
}

.form__input, .form__textarea {
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  resize: none;
  outline: none;
}

.form__input:focus, .form__textarea:focus {
  border: 1px solid #2196f3;
}

.form__input {
  padding: 11px 12px 11px 42px;
}

.form__textarea {
  padding: 12px 16px;
}

.form__textarea::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within .form__icon {
  fill: #2196f3;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.section--non-padding {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .features__container {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .features__container {
    max-width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*30px)/2);
        flex-basis: calc((100% - 2*30px)/2);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  display: block;
  width: 70px;
  height: 70px;
  fill: var(--title-text-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section--work-list {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.section--team {
  background-color: #f5f4fa;
}

.team-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__title {
  color: #212121;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list__bottom-text {
  margin-bottom: 16px;
}

.team-list__comment {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .team-list .team-list__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-list .team-list__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list .team-list__img {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list__item {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*30px)/2);
        flex-basis: calc((100% - 2*30px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .join {
    display: inline-block;
    padding-top: 5px;
  }
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .client-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .client-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .client-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-list__icon {
  fill: currentColor;
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1199px) {
  .client-list__link {
    padding: 16px 32px;
  }
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .page-footer__tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer__tablet-container {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .page-footer__tablet-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.page-footer__icon {
  fill: currentColor;
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .page-footer__text {
    text-align: center;
  }
}

.page-footer__social-links {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-footer__social-links {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .address {
    display: inline-block;
    margin-right: 165px;
    margin-left: 76px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--color-white {
  color: #ffffff;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter__input {
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .newsletter__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
  }
}

.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__icon {
  fill: #ffffff;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */