.page-header__button, .button-portfolio__btn, .newsletter__button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.page-body.modal-open, .page-body.menu-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.page-header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .page-header__button {
    display: none;
  }
}

.page-header__button.is-open {
  position: fixed;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 767px) {
  .page-header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .page-header__links {
    display: none;
  }
}

.page-header__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  color: #2196f3;
}

.page-header__link--after::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.page-header__button.is-open .page-header__icon-menu {
  display: none;
}

.page-header__icon-cross {
  display: none;
}

.page-header__button.is-open .page-header__icon-cross {
  display: block;
}

@media screen and (max-width: 767px) {
  .page-header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px 38px;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    background-color: #ffffff;
  }
  .page-header__menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #000000;
}

.logo__heading {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .nav-site {
    background-color: #ffffff;
    max-width: 480px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-site__list {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav-site__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-site__link {
  text-decoration: none;
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-site__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-site__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-site__link--current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.nav-site__link:hover, .nav-site__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list {
    background-color: #ffffff;
    margin-bottom: 64px;
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 94px;
  }
}

.contact-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact-list__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 8px;
  }
  .contact-list__icon--mail {
    width: 14px;
    height: 10px;
  }
  .contact-list__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
  .contact-list__icon--mail {
    width: 16px;
    height: 12px;
  }
  .contact-list__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.contact-list__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .contact-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contact-list__item {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-list__item {
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__item:hover, .contact-list__item:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 410px) {
  .contact-list__item--mail {
    color: #2196f3;
    font-size: 8vw;
    margin-bottom: 32px;
  }
  .contact-list__item--smartphone {
    font-size: 6vw;
    color: #757575;
  }
}

@media (min-width: 411px) and (max-width: 767px) {
  .contact-list__item--mail {
    color: #2196f3;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    font-size: 34px;
    margin-bottom: 32px;
  }
  .contact-list__item--smartphone {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.section--non-padding {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .project-list__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .project-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2*30px)/2);
        flex-basis: calc((100% - 2*30px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - 3*30px)/3);
        flex-basis: calc((100% - 3*30px)/3);
  }
}

.project-list__link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project-list .project-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project-list__title {
  color: #212121;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__comment {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .project-list__comment {
    max-width: 450px;
  }
}

.project-list__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .project-list__img {
    width: 450px;
  }
}

.project-list__overlay {
  display: block;
  position: relative;
  overflow: hidden;
}

.project-list__link {
  display: block;
}

.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 350px) {
  .project-list__popup {
    padding: 24px;
    overflow-y: scroll;
  }
}

@media (min-width: 351px) {
  .project-list__popup {
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.project-list__item:hover .project-list__popup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .button-portfolio__list {
    margin: -8px -4px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .button-portfolio__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-portfolio__list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .button-portfolio__item {
    margin: 8px 4px;
  }
}

.button-portfolio__btn {
  letter-spacing: 0.03em;
  padding: 6px 22px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button-portfolio__btn {
    margin-right: 8px;
  }
}

.button-portfolio__btn:hover, .button-portfolio__btn:focus, .button-portfolio__btn--current {
  color: #ffffff;
  background-color: #2196f3;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .page-footer__tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer__tablet-container {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .page-footer__tablet-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.page-footer__icon {
  fill: currentColor;
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .page-footer__text {
    text-align: center;
  }
}

.page-footer__social-links {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-footer__social-links {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .join {
    display: inline-block;
    padding-top: 5px;
  }
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .address {
    display: inline-block;
    margin-right: 165px;
    margin-left: 76px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--color-white {
  color: #ffffff;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter__input {
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .newsletter__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
  }
}

.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__icon {
  fill: #ffffff;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */