.button-portfolio__btn, .newsletter__button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.page-body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #000000;
}

.logo__heading {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .nav-site {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}

.section__title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  line-height: 1.17;
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.section--non-padding {
  padding: 0;
}

.project-list__link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project-list__item {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .project-list .project-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project-list__title {
  color: #212121;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-list__comment {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

@media screen and (max-width: 767px) {
  .project-list__comment {
    max-width: 450px;
  }
}

.project-list__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .project-list__img {
    width: 450px;
  }
}

.project-list__overlay {
  position: relative;
  overflow: hidden;
}

.project-list__link {
  display: block;
}

.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project-list__popup {
    padding: 77px 24px;
  }
}

.project-list__item:hover .project-list__popup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.button-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .button-portfolio {
    height: 91px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-bottom: 40px;
  }
}

.button-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio__btn {
  letter-spacing: 0.03em;
  padding: 6px 22px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio__btn:hover, .button-portfolio__btn:focus, .button-portfolio__btn--current {
  color: #ffffff;
  background-color: #2196f3;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.page-footer__icon {
  fill: currentColor;
}

.page-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-footer__social-links {
    margin-bottom: 60px;
  }
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--color-white {
  color: #ffffff;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.newsletter__input {
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
}

@media screen and (max-width: 767px) {
  .newsletter__input {
    max-width: 450px;
    margin-bottom: 20px;
  }
}

.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__icon {
  fill: #ffffff;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */