.page-body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECECEC;
  max-width: 1600px;
}

@media screen and (min-width: 768px) {
  .page-header {
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo__heading {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-site {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-site {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-site {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-site__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-site__link {
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-site__link--current {
  color: #2196f3;
}

.nav-site__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.nav-site__link:hover, .nav-site__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
    width: 138px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 0 0 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 0 0 0 30px;
  }
}

.contact-list__item:hover, .contact-list__item:focus {
  color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */