.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: $color-backdrop;
    opacity: 1;
    @include transition(opacity);

    &--is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

