.button-portfolio__list {
    display: flex;

    @media screen and (max-width: 767px) {
        margin: -8px -4px;
        flex-wrap: wrap;
        margin-bottom: 40px;   
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;   
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px; 
        justify-content: center;  
    }
}

.button-portfolio__item {
    @media screen and (max-width: 767px) {
        margin: 8px 4px;
    }
}

.button-portfolio__btn {
    @extend %button;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    text-align: center;

    border: transparent;
    border-radius: 4px;

    color: $color-btn-portfolio;
    background-color: $color-bk-secondary;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    @include transition(background-color);
    @include transition(color);

    @media screen and (min-width: $tablet) {
        margin-right: 8px;
    }

    &:hover,
    &:focus,
    &--current {
        color: $color-text-secondary;
        background-color: $color-accent;
    }
}