.checkbox {
    position: relative;
    text-align: center;
    margin: 0 auto;
    min-width: 425px;
    margin-bottom: 30px;

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__input {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        display: inline-block;
        line-height: 1.71;
    }

    &__link {
        color: $color-accent;
        margin-left: 3px;
    }
}
.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url(../images/check-inactive.svg);
    margin-right: 7px;

    .checkbox__input:checked+& {
        background-image: url(../images/check.svg);
        background-color: $color-accent;
        border-radius: 2px;
    }
}



