.client-list {
    display: flex;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        @media screen and (max-width: 767px) {
            margin: 15px;
            flex-basis: calc((100% - 4 * 15px) / 2)
        }

        @media screen and (min-width: $tablet) {
            margin: 15px;
            flex-basis: calc((100% - 3 * 30px) / 3)
        }
    }


    // &__item:not(:last-child) {
    //     margin-right: 30px;
    // }

    &__icon {
        fill: currentColor;
    }
}

.client-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    
    @include bordered($color-social-link);
    border-radius: 4px;
    color: $color-social-link;

    @include transition(color);
    @include transition(border-color);

    &:hover,
    &:focus {
        color: $color-accent;
        border-color: $color-accent;
    }
}