.contact-list {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        margin-left: auto;
        width: 138px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
        @include transition(color);
    }
}

.contact-list__item {
    display: flex;
    align-items: center;
    color: $color-text-primary;
    cursor: pointer;

    &:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-bottom: 0 0 10px 0;
        }

        @media screen and (min-width: $desktop) {
            margin-right: 0 0 0 30px;
        }
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

