.contact-list {
    margin-left: 84px;
    align-content: center;

    &__icon {
        fill: currentColor;

        @media screen and (min-width: $tablet) {
            margin-right: 8px;

            &--mail {
                width: 14px;
                height: 10px;
            }

            &--smartphone {
                width: 10px;
                height: 14px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        @include transition(color);

        @media (min-width: $tablet) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
        }
    }
}

.contact-list__item {
    color: $color-text-primary;
    cursor: pointer;

    &:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-bottom: 10px;
        }
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}