.contact-list {
    
    @media screen and (max-width: 767px) {
        background-color: $color-bk-primary;
    }

    @media screen and (min-width: $desktop) {
        margin-left: auto;
        display: flex;
        align-items: center;

        margin-left: 84px;
    }

    &__icon {
        @media screen and (max-width: 767px) {
            display: none;
        }

        fill: currentColor;

        @media screen and (min-width: $tablet) {
            margin-right: 8px;

            &--mail {
                width: 14px;
                height: 10px;
            }

            &--smartphone {
                width: 10px;
                height: 14px;
            }
        }

        @media screen and (min-width: $desktop) {
            margin-right: 10px;

            &--mail {
                width: 16px;
                height: 12px;
            }

            &--smartphone {
                width: 10px;
                height: 16px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        @include transition(color);
        letter-spacing: 0.02em;

        @media screen and (max-width: 767px) {
            font-weight: 500;
            font-size: 34px;
            line-height: 1.18;
        }

        @media (min-width: $tablet) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.17;
        }

        @media (min-width: $tablet) and (min-width: $desktop) {
            font-size: 16px;
        }
    }
}

.contact-list__item {
    color: $color-text-primary;
    cursor: pointer;
    display: inline-flex;
    align-items: center;


    &:not(:last-child) {
        @media (min-width: $tablet) and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }

    &:not(:last-child) {
        @media screen and (min-width: $desktop) {
            margin-right: 30px;
        }
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}