.hero {
    margin-left: auto;
    margin-right: auto;
    background-color: $color-bk-hero;
    text-align: center;

    background-image: linear-gradient(to left,
            $color-gradient-hero,
            $color-gradient-hero),
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 767px) {
        max-width: 480px;
    }
    
    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }

    @media screen and (max-width: 1199px) {
        max-height: 400px;
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        max-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    

    &__title {
        margin-bottom: 30px;

        color: $color-title-secondary;

        letter-spacing: 0.06em;
        font-weight: 900;

        text-transform: uppercase;

        @media screen and (max-width: 1199px) {
            font-size: 26px;
            line-height: 1.62;
        }

        @media screen and (min-width: $desktop) {
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        @extend %button;
        display: block;
        width: 200px;
        height: 50px;
        margin: 0 auto;

        border-radius: 4px;
        border: transparent;

        color: $color-text-btn;
        background-color: $color-accent;

        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
    }
}