.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    color: $color-logo-header;

    &__heading {
        color: $color-accent;
    }

    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.17;
    }
}