// .modal {
//     position: fixed;
//     width: 528px;
//     top: 50%;
//     left: 50%;
//     padding: 40px;

//     transform: translate(-50%, -50%) scale(1);
//     opacity: 1;
//     background: $color-bk-primary;

//     @include transition(transform);

//     .backdrop--is-hidden & {
//         transform: translate(-50%, -50%) scale(0.8);
//     }

//     &__text {
//         margin-bottom: 12px;
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 1.15;
    
//         color: $color-title-primary;
//     }
// }

// .modal__button {
//     @extend %button;
//     @include bordered(rgba(0, 0, 0, 0.1));
//     display: flex;
//     position: absolute;
//     top: 8px;
//     right: 8px;

//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     background: $color-bk-primary;
//     @include transition(background-color);

//     &:hover,
//     &:focus {
//         background-color: $color-bk-primary;
//     }
// }

// .modal__icon {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 18px;
//     height: 18px;

//     fill: $color-modal-btn;
//     @include transition(fill);

//     .modal__button:hover & {
//         fill: $color-accent;
//     }
// }

