.nav-site {
    margin-left: 93px;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-site__link {
    text-decoration: none;
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $color-title-primary;
    @include transition(color);
    

    &--current {
        color: $color-accent;
    }
    
    &--current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
    
        background: $color-accent;
        border-radius: 2px;
    }
    
    &:hover,
    &:focus {
        color: $color-accent;
    }
}

