.newsletter {
    // margin-left: auto;

    // &__form {
    //     display: flex;
    // }

    &__input {
        height: 50px;
        background-color: transparent;
        color: $color-text-secondary;
        @include bordered($color-border-input);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 15px;
        margin-right: 12px; 

        @media screen and (max-width: 767px) {
            max-width: 450px;
            margin-bottom: 20px;
        }
    }

    &__button {
        @extend %button;
        display: flex;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        border-radius: 4px;
        border: transparent;
        color: $color-text-secondary;
        background-color: $color-accent;
        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        padding: 10px 28px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__icon {
        fill: $color-text-secondary;
        margin-left: 10px;
    }
}