.page-header {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
    letter-spacing: 0.02em;
    font-weight: 500;

    &__container {
    display: flex;
    align-items: center;
    }
}

