.project-list {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        @media screen and (max-width: 767px) {
            max-width: 450px;
        }

        @media screen and (min-width: $tablet) {
            margin: 15px;
            flex-basis: calc((100% - 2*30px)/2);
        }

        @media screen and (min-width: $desktop) {
            flex-basis: calc((100% - 3*30px)/3);
        }
    }

    &__link {
        text-decoration: none;
        @include transition(box-shadow);
    }

    

    .project-list__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__title {
        color: $color-title-primary;
        margin-bottom: 4px;

        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }

    &__comment {
        padding: 20px 24px;
        background: $color-bk-primary;
        border-right: 1px solid $color-border-project;
        border-left: 1px solid $color-border-project;
        border-bottom: 1px solid $color-border-project;

        @media screen and (max-width: 767px) {
            max-width: 450px;
        }
    }

    &__text {
        color: $color-text-primary;

        font-size: 16px;
        line-height: 1.88;
    }

    &__img{
        @media screen and (max-width: 767px) {
            width: 450px;
        }
    }

    &__overlay {
        display: block;
        position: relative;
        overflow: hidden;
    }
}

.project-list__link {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-list__popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-color: $color-bk-popup;
    font-size: 18px;
    line-height: 1.56;
    color: $color-text-secondary;
    transform: translateY(101%);
    overflow: hidden;

    @include transition(transform);

    @media screen and (max-width: 350px) {
        padding: 24px;
        overflow-y: scroll;
    }

    @media (min-width: 351px) {
        padding: 24px;
        display: flex;
        align-items: center;
    }

    .project-list__item:hover & {
        transform: translateY(0);
    }
}