.project-list {
    
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &__link {
        text-decoration: none;
        @include transition(box-shadow);
    }
    
    &__item {
        width: 370px;
        margin: 15px;
    }
    
    &__title {
        color: $color-title-primary;
        margin-bottom: 4px;
    
        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }
    
    &__comment {
        padding: 20px 24px;
        background: $color-bk-primary;
        border-right: 1px solid $color-border-project;
        border-left: 1px solid $color-border-project;
        border-bottom: 1px solid $color-border-project;
    }
    
    &__text {
        color: $color-text-primary;
    
        font-size: 16px;
        line-height: 1.88;
    }
    
    &__overlay {
        position: relative;
        overflow: hidden;
    }
}

.project-list__link {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-list__popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 63px 24px;
    background-color: $color-bk-popup;
    font-size: 18px;
    line-height: 1.56;
    color: $color-text-secondary;
    transform: translateY(100%);
    overflow: hidden;

    @include transition(transform);

    .project-list__item:hover & {
        transform: translateY(0);
    }
}