.section {
    padding: 94px 0;

    &__title {
        text-align: center;
        margin-bottom: 50px;

        color: $color-title-primary;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;

    }

    &--non-padding {
        padding: 0;
    }
}