.features {
    &__title {
        margin-bottom: 10px;

        color: $color-title-primary;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        background: $color-bk-secondary;
        border-radius: 4px;

        @media screen and (max-width: 767px) {
            max-width: 450px;
        }
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
        // margin-right: 30px;
    }

    &__icon {
        display: block;
        width: 70px;
        height: 70px;
        fill: var(--title-text-color);
    }

    &__text {
        line-height: 1.71;
    }
}