.section {
    @media screen and (max-width: 1199px) {
        padding: 60px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }

    &__title {
        text-align: center;
        color: $color-title-primary;

        @media screen and (max-width: 1199px) {
            @include font (700, 28px, 1.17, 0.03em);
            margin-bottom: 30px;
        }

        @media screen and (min-width: $desktop) {
            margin-bottom: 50px;
            @include font (700, 36px, 1.17, 0.03em);
        }
    }

    &--non-padding {
        padding: 0;
    }
}