.section {
    @media screen and (max-width: 1199px) {
        padding: 60px 0;
    }

    &__title {
        text-align: center;
        color: $color-title-primary;
        font-weight: 700;
        line-height: 1.17;

        @media screen and (max-width: 1199px) {
            margin-bottom: 30px;
            font-size: 28px;
        }
    }

    &--non-padding {
        padding: 0;
    }
}