// .work-list {
//     // display: flex;

//     &__text {
//         // position: absolute;
//         // bottom: 0;
//         // left: 0;
//         // padding-top: 27px;
//         // padding-bottom: 27px;
    
//         // width: 100%;
    
//         // font-weight: 700;
//         // text-align: center;
//         // text-transform: uppercase;
//         // color: $color-text-secondary;
//         // background: $color-bk-work-list;
//     }
// }

// .work-list__item {
//     // position: relative;

//     &:not(:last-child) {
//         // margin-right: 30px;
//     }
// }
